<template>
  <div class="home-page">
    <!-- menu  -->
    <div class="nav-bar">
      <button type="button" class="btn btn-outline-success" v-for="item in menu.items" :key="item" @click="activeClass(item)" :class="{active: menu.currentItem == item}">
        {{item}}
      </button>
    </div>
    <!-- End menu -->

    <!-- content of each menu item -->
    <div class="app-content">
      <div class="row">
        <button type="button" class="btn btn-primary create-button col-md-1 offset-md-11" data-toggle="modal" data-target="#todoModal" @click="createTodo()">
          <i class="fa fa-plus"></i>
          Create
        </button>
      </div>

      <!-- todo list -->
      <div class="todo-list">
        <draggable :list="todoList" :disabled="!(menu.currentItem == 'Todo')" :move="onMove" @end="sortTodoList()" class="row">
          <div v-for="item in todoList" :key="item._id" :class="{'todo-item-checked': item.isDone}" class="col-4">
            <todo-item :todo="item" @removeTodo="removeTodo(item)" @restoreTodo="restoreTodo(item)">
              <template slot="editTodo" v-if="!item.isRemoved">
                <span class="edit-todo" data-toggle="modal" data-target="#todoModal" @click.prevent="editTodo(item)">
                  <i class="fa fa-edit"></i>
                </span>
              </template>
            </todo-item>
          </div>
        </draggable>
      </div>
      <!-- End todo list -->

    </div>

    <!-- Create, Edit Modal -->
    <div class="modal fade" id="todoModal" tabindex="-1" role="dialog" aria-labelledby="todoModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="todoModalLabel">Todo Edit</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group row">
                <label for="todo-title" class="col-form-label col-sm-2">Title:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="todo-title" v-model="todo.title">
                  <div class="error row" v-if="notification.title">
                    <div class="col-1">
                      <div class="error-icon">
                        <i class="fa fa-exclamation"></i>
                      </div>
                    </div>
                    <div class="col-11">{{notification.title}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="todo-content" class="col-form-label col-sm-2">Content:</label>
                <div class="col-sm-10">
                  <textarea class="form-control" id="todo-content" v-model="todo.content"></textarea>
                  <div class="error row" v-if="notification.content">
                    <div class="col-1">
                      <div class="error-icon">
                        <i class="fa fa-exclamation"></i>
                      </div>
                    </div>
                    <div class="col-11">{{notification.content}}</div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" @click.prevent="saveTodo()">Save</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Create, Edit Modal -->
    <!-- End content of each menu item -->
  </div>
</template>

<script>
/* eslint-disable */
import services from '@/services'
import TodoItem from '../components/TodoItem'
import draggable from "vuedraggable"
import $ from 'jquery'

export default {
  name: 'Home',
  data() {    0
    return {
      todo: {
        _id: '',
        title: '',
        content: '',
        isDone: false,
        isRemoved: false,
        isEdit: false
      },
      menu: {
        items: ['Todo', 'Recycle Bin'],
        currentItem: 'Todo'
      },
      draggedContext: null,
      notification: {
        title: '',
        content: ''
      }
    }
  },
  components: {
    'todo-item': TodoItem,
    draggable
  },
  mounted() {
    services.getTodoList()
  },
  computed: {
    todoList() {
      let isRemoved = !(this.menu.currentItem == 'Todo')
      return this.$store.getters.todoList.filter(item => item.isRemoved == isRemoved)
    }
  },
  methods: {
    saveTodo() {
      let notification = this.notification
      let todo = this.todo
      let isSubmit = true

      notification.title = ''
      notification.content = ''

      if (!todo.title) {
        notification.title = 'You must enter a title'
        isSubmit = false
      }

      if (!todo.content) {
        notification.content = 'You must enter a content'
        isSubmit = false
      }

      if (isSubmit) {
        services.addTodo(todo)
        $('#todoModal').modal('hide')
      }
    },
    removeTodo(todo) {
      if (this.menu.currentItem == "Todo") {
        todo.isRemoved = true
        services.updateTodo(todo)
      } else {
        services.removeTodo(todo)
      }
    },
    restoreTodo(todo) {
      todo.isRemoved = false
      services.updateTodo(todo)
    },
    onMove(evt) {
      this.draggedContext = evt.draggedContext
    },
    sortTodoList() {
      let draggedContext = this.draggedContext
      services.updateTodoList(draggedContext.element._id, draggedContext.futureIndex)
    },
    activeClass(menuItem) {
      this.menu.currentItem = menuItem
    },
    editTodo(todo) {
      this.todo = todo
    },
    createTodo() {
      this.reset()
    },
    reset() {
      let todo = this.todo
      let notification = this.notification

      todo._id = ''
      todo.title = ''
      todo.content = ''
      todo.isDone = false
      todo.isRemoved = false
      todo.isEdit = false

      notification.title = ''
      notification.content = ''
    }
  }
}
</script>

<style lang="scss" scoped>
.home-page {
  padding-top: 40px;
  width: 100%;
  .nav-bar {
    text-align: center;
    .btn-outline-success {
      margin-right: 15px;
      width: 300px;
      &:hover {
        color: #28a745;
        background-color: #ffffff;
        border-color: #28a745;
      }
      &:focus {
        box-shadow: none !important;
      }
    }
  }
  .app-content {
    margin-top: 30px;
    .create-button {
      &:focus {
        box-shadow: none !important;
      }
    }
    .form-control {
      width: 80%;
      margin: 30px auto;
    }
    .todo-list {
      margin-top: 30px;
    }
  }
  .modal {
    .error {
      color: #f20000;
      padding-top: 12px;
      .error-icon {
        background-color: #f20000;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        color: #ffffff;
        text-align: center;
      }
    }
  }
}
</style>
