<template>
  <div class="login-page">
    <form class="form-signin">
      <h4> Sign in </h4>
      <input type="text" placeholder="Email address" class="form-control" />
      <input type="password" placeholder="Password" class="form-control" />

      <div class="row sign-in-group">
        <div class="col-sm-8 col-12">
          <button class="btn btn-success"><i class="fas fa-sign-in-alt"></i>Sign in</button>
        </div>
        <div class="col-sm-4 col-12">
          <a href="#">Forgot password?</a>
        </div>
      </div>
      <hr>
      <div class="row sign-up-group">
        <div class="col-12">
          <button class="btn btn-primary btn-block"><i class="fas fa-user-plus"></i>Sign up New Account</button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: 'Login'
}
</script>

<style lang="scss" scoped>
.login-page {
  background-color: #ffffff;
  width: 45%;
  padding: 30px;
  border-radius: 3px;
  box-shadow: 0px 3px 8px 2px #dadada;
  margin: auto auto;
  h4 {
    text-align: center;
    margin-bottom: 25px;
  }
  .form-control {
    margin-bottom: 20px;
  }
  .sign-in-group {
    margin-bottom: 20px;
    align-items: center;
  }
  .row {
    .fas {
      margin-right: 10px;
    }
  }
}
</style>
