<template>
  <div class="todo-item-page">
    <div class="card mb-3" @dblclick="checkIsDoneTodo()" :class="activeClassIsDoneTodo()">
      <div class="card-header">
        <div class="todo-title">{{todo.title}}</div>
        <div class="actions-btn">
          <slot name="editTodo"></slot>
          <span class="restore-todo" v-if="todo.isRemoved" @click.prevent="restoreTodo()">
            <i class="fa fa-history"></i>
          </span>
          <span class="remove-todo" @click.prevent="removeTodo()">
            <i class="fa fa-trash"></i>
          </span>
        </div>
      </div>
      <div class="card-body">
        <p class="card-text">{{todo.content}}</p>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import services from '@/services'

export default {
  name: 'TodoItem',
  props: {
    todo: Object
  },
  data() {
    return {
      editing: {}
    }
  },
  methods: {
    removeTodo() {
      this.$emit('removeTodo')
    },
    restoreTodo() {
      this.$emit('restoreTodo')
    },
    checkRemoved(todo) {
      services.updateTodo(todo)
    },
    checkIsDoneTodo() {
      let todo = this.todo

      if (!todo.isRemoved) {
        todo.isDone = !todo.isDone
        services.updateTodo(todo)
      }
    },
    activeClassIsDoneTodo() {
      if (this.todo.isDone) {
        return ['text-white bg-success']
      } else {
        return ['bg-light']
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.todo-item-page {
  .card-header {
    display: flex;
    .todo-title {
      font-weight: 600;
      font-size: 18px;
    }
    .actions-btn {
      margin-left: auto;
      .fa-trash {
        color: #f00;
        font-size: 22px;
      }
      .fa-history {
        margin-right: 10px;
        color: #007bff;
        font-size: 22px;
      }
      .fa-edit {
        color: #007bff;
        margin-right: 10px;
        font-size: 22px;
      }
    }
  }
}
.todo-item-checked {
  opacity: 0.6;
  text-decoration: line-through;
}
</style>
