<template>
  <div id="app">
    <div class="container">
      <router-view />
    </div>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style lang="scss" scoped>
#app {
  background-image: url('~@/assets/note.png');
  background-size: cover;
  height: 100vh;
  .container {
    display: flex;
    height: 100%;
  }
}
</style>

<style src="./styles/styles.scss" lang="scss"></style>
